/*-- scss:defaults --*/

$font-family-sans-serif: "Open Sans", "Lato", “Source Sans Pro”, Helvetica, sans-serif;
// $body-bg: #191919;
// $body-color: #fff;
$link-color: royalblue;

/*-- scss:rules --*/

img {
    // background-color: white;
    border-radius: 10px;
}

.a3step {
    height: 4em;
}
