/*-- scss:defaults --*/

$font-family-sans-serif: "Source Sans 3", "Open Sans", "Lato", Helvetica, sans-serif;
// $body-bg: #191919;
// $body-color: #fff;
$link-color: royalblue;

/*-- scss:rules --*/

img {
    // background-color: white;
    border-radius: 10px;
}

.a3step {
    height: 7em;
}

// .mermaid {
//   font-family: 'Source Sans 3', 'Open Sans', 'Lato', 'Arial', sans-serif;
// }

